
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2f4f7;
}

.app {
  width: 650px;
  margin: 50px auto;
  padding: 25px;
  background: white;
  border-radius: 10px;
}

h1 {
  text-align: center;
  margin-bottom: 25px;
}

.form {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: #ddd;
}

.painel {
  display: flex;
  gap: 15px;
  margin-top: 25px;
}

.caixa {
  flex: 1;
  padding: 15px;
  background: #f2f2f2;
  border-radius: 7px;
}

.caixa h2 {
  text-align: center;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
  background: white;
  border-radius: 5px;
}

.item span {
  margin-right: 10px;
}
